__pycache__
saved*
.DS_Store
accurancy
alder_results
imgs
vcfs
bgzip.sh
gen.py
*.geno
*.ind
*.snp
proceed.sh
raw_wld_*
vcf2*
editeig*
fastc0.pyx
gdc
**.gz
**.png
**.jpeg
**.ipynb
.ipynb*
**.vcf
*.c
*.so
*.npy
*_backup*
conv*
build/
data*/
saved_data/
